// Colors
$black: #222222;
$primary: #4267b2;
$secondary: #1da1f2;
$text: #666666;

// Default Width
$container-width: 1200px;

// Media Queries
@mixin bp($point) {
  @if $point == med {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 360px) {
      @content;
    }
  }
}
